<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Agent</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
        }

        h1 {
            margin-bottom: 20px;
            color: #333;
        }

        img {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>

<h1 id="title">Agent Test Camp</h1>

<img id="video"
     th:attr="width=${width}, height=${height}" />

<script th:inline="javascript">
    const socket = new SockJS('/ws/agent');
    const stompClient = Stomp.over(socket);
    const vid = document.getElementById('video');
    const pressedKeys = new Set();
    stompClient.debug = null;
    let isDisconnected = false;
    function handleKeydown(e) {
        console.log(e)
        pressedKeys.add(e.key);
    }

    function handleKeyup(e) {
        pressedKeys.delete(e.key);
    }

    let lastSendTime = 0;
    const SEND_INTERVAL_MS = 50;

    function gameLoop(timestamp) {
        if (timestamp - lastSendTime >= SEND_INTERVAL_MS) {
            if (pressedKeys.size > 0) {
                const payload = JSON.stringify(Array.from(pressedKeys));
                stompClient.send("/app/input", {}, payload);
            }
            lastSendTime = timestamp;
        }

        animationFrameId = requestAnimationFrame(gameLoop);
    }

    function cleanup() {
        if (isDisconnected) return;
        isDisconnected = true;

        document.removeEventListener("keydown", handleKeydown);
        document.removeEventListener("keyup", handleKeyup);
        cancelAnimationFrame(animationFrameId);
        stompClient.disconnect(() => {
            console.log("STOMP client disconnected");
        });

        document.getElementById('title').textContent = "Episode ended";
    }

    stompClient.connect({}, function () {
        console.log('connected');

        stompClient.subscribe('/user/queue/frame', function (base64Frame) {
            vid.src = 'data:image/png;base64,' + base64Frame.body;
        });

        stompClient.subscribe('/user/queue/episode_end', function (message) {
            cleanup();
        });

        document.addEventListener("keydown", handleKeydown);
        document.addEventListener("keyup", handleKeyup);
        requestAnimationFrame(gameLoop);
    });

    window.addEventListener("beforeunload", cleanup);
</script>

</body>
</html>
